html * {
    margin: 0;
}

/* GENERAL */
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
} 

h1 {
    color: #006dba;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
   padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/* MESSAGES AND ERRORS */
.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}
.messages .message{
	width:450px;
	margin: 10px auto;
}

.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 15px;
}
ul.in-line {
    list-style: none;
}
ul.in-line li{
	margin-left:10px;
	float:left;
}
.errors ul {
    list-style: none;
    padding: 0;	
}
.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

select.error {
    border: 1px solid red;
}
input.error {
    border: 1px solid red;
}

/* general form formatting */
form label{
	display:block;
	width: 200px;
}
form label span{
   display:block;
}

/* index.gsp */
#body {
	clear:both;
}
#container {
	padding:20px;
	width:700px;
	margin:0 auto;
}

#grid {
	height: 50;
	border: 1px solid green;
	margin:10px;
	margin-left: auto;
	margin-right:auto;
	padding:10px;
}
#nav{
	float:right;
}
/* tables */
table {
	border-collapse:collapse;
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th { 
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}
tr.head1 th{
	text-align:center;
}
.odd{
    background: #f7f7f7;
}
.even{
    background: #fff;
}
.neg {
	color: red;
}
.pos {
	color: green;
}
.amt {
	text-align:right;
}
tr .sep{
	border-left: 2px solid #CCCCCC;
	border-right:1px dashed #CCCCCC;
}
.stacked .top {
	float:left;
	padding-bottom:5px;
}	
.stacked .bottom {
	float:right;
	font-size:.9em;
}
.stacked .bottom a{
	color:green;
}
.next-scheduled td{
	border-bottom:1px dashed orange;
}
.future{
	color: #CCCCCC;
}
#container .future a{
	font-weight:normal;
}
.date{
	white-space:nowrap;
}
.reconciled .description, .reconciled .date{
	text-decoration:line-through;
}